
@{
    ViewData["Title"] = "Lesson Menu";
}

<h1>Lesson Menu</h1>
<nav>
    <ul>
        <li>
            <a asp-action="Create" asp-controller="Lesson">Create Lesson</a>
        </li>

        <li>
            <a asp-action="Cancel" asp-controller="Lesson">Cancel Lesson</a>
        </li>

        <li>
            <a asp-action="Details" asp-controller="Lesson" asp-route-id="1">Lesson Details</a>
        </li>
    </ul>
</nav>


